*.egg-info/
*.pyc
__pycache__/
.env
settings.json
Llama-3.2-1B-Instruct*

# Build directories
build/
dist/

# Python virtual environments
venv/
env/
.venv/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
